$num : 1;
$tam: 30px;
$tie : 20s;

//cadenas
$nombre : "felix";
$valor : block;
$sexo : "hombre";

//colores
$rojo : rgb(234, 242, 13);
$color_RGB : (100, 100, 200);
$color_hexa: #2f7060;

$borde : 10px dashed red;