doctype hmtl
html 
    head
        title ejemplo pug
        link(rel="stylesheet" href="estilos.css")
    body
        h1 esto  es un archivo de pug
        div
            p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maxime eligendi facere praesentium quas blanditiis laborum illum ex omnis iure quis! Distinctio vero doloremque ut aspernatur numquam! Consequatur iste adipisci amet?
            p.parrafo.
                esto es un parrafo de ejemplo milanesa coamca
            